{% extends 'base.html' %}

{% block section %}


<section class="review-bg">
    <div class="d-flex" style="padding:3rem 10rem;">
        <b><h1 align="center" style="font-size:4.3rem;color:white; text-shadow:2px 3px 7px black;" >Our Clients love that we build stories experience</h1></b>
    </div>

    <div class="d-flex container">
        <div class="customer-review-box">
            <img class="review-image" src="/static/img/img-review1.jpg" alt="">
            <p align="center" class="name-heading-reviews" style="padding:0.5rem 4rem;">Shubhnish Verma</p>
            <div class="star-icon">
                <span class="fa fa-star checked-stars"></span>
                <span class="fa fa-star checked-stars"></span>
                <span class="fa fa-star checked-stars"></span>
                <span class="fa fa-star checked-stars"></span>
                <span class="fa fa-star"></span>
            </div>
            <p>This is a great website to order with. I order some fresh foods and vegetables and it delivered in just 15 minutes on my doorstep.<br>
                Nice Service.
            </p>
        </div>

        <div class="customer-review-box">
            <img class="review-image" src="/static/img/pratibha.jpg" alt="" height=300>
            <p align="center" class="name-heading-reviews" style="padding:0.5rem 1rem;">Pratibha Sharma</p>
            <div class="star-icon">
                <span class="fa fa-star checked-stars"></span>
                <span class="fa fa-star checked-stars"></span>
                <span class="fa fa-star checked-stars"></span>
                <span class="fa fa-star checked-stars"></span>
                <span class="fa fa-star"></span>
            </div>
            <p>This is a great website to order with. I order some fresh foods and vegetables and it delivered in just 15 minutes on my doorstep.<br>
                Nice Service.
            </p>
        </div>
    </div>  


    <div class="d-flex container">
        <div class="customer-review-box">
            <img class="review-image" src="/static/img/rohit.jpg" alt="">
            <p align="center" class="name-heading-reviews" style="padding:0.5rem 4rem;">Rohit Sharma</p>
            <div class="star-icon">
                <span class="fa fa-star checked-stars"></span>
                <span class="fa fa-star checked-stars"></span>
                <span class="fa fa-star checked-stars"></span>
                <span class="fa fa-star checked-stars"></span>
                <span class="fa fa-star"></span>
            </div>
            <p>I order some fresh foods and vegetables and it delivered in just 13 minutes on my doorstep.<br>
                Nice Service.it is good
            </p>
        </div>

        <div class="customer-review-box">
            <img class="review-image" src="/static/img/abhinav.jpg" alt="">
            <p align="center" class="name-heading-reviews" style="padding: 0.5rem 4rem;">Abhinav Goel</p>
                <span class="fa fa-star checked-stars"></span>
                <span class="fa fa-star checked-stars"></span>
                <span class="fa fa-star checked-stars"></span>
                <span class="fa fa-star checked-stars"></span>
                <span class="fa fa-star"></span>
                <p><br>
                Very Nice Service.
            </p>
        </div>
    </div>

    
    </div>


    <div><br><br><br>
        <a href="#" class="go-on-top-button" style="margin-left:73.5rem;"><b>Go On Top ↑</b></a>
    </div>
    <br><br><br><br>



</section>



{% endblock %}
</body>
</html>